<head>
	<meta charset="utf-8" />

	<script>
		var isAdded = false;

		function addMetaTag() {
			var meta;

			if(window.outerWidth < 768) {
				if(!isAdded) {
					meta = document.createElement('meta');
					meta.setAttribute('name', 'viewport');
					meta.setAttribute('content', 'width=device-width, initial-scale=1.0');
					meta.setAttribute('id', 'meta-tag-1');
					document.getElementsByTagName('head')[0].appendChild(meta);

					isAdded = true;
				}
			} else {
				meta = document.getElementById('meta-tag-1');

				if(meta !== null) {
					meta.remove();
					isAdded = false;
				}
			}
		}

		window.addEventListener('resize', addMetaTag);
		window.addEventListener('orientationchange', addMetaTag);
		window.addEventListener('load', addMetaTag);
	</script>

	<title>SMART AGE</title>

	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="assets/css/bundle.css" />

</head>
