.dash{
  display: block;

  &__wrapper{
    display: block;
    border-radius: 4px;
    padding: 5px 20px;
    background: linear-gradient(141deg, $lemon-green 0%, $blue 75%);
    box-shadow: 0 10px 35px 0 rgba($shadow-bg, 1);
    min-height: 100px;
    color: $white;
    font-size: 22px;
    font-family: $font-default;
    line-height: 100px;
    font-weight: 700;

    #newItem{
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 30px;
      background: $white;
      color: $blue;
      text-decoration: none;
      border-radius: 4px;
      font-size: 14px;
      padding: 10px 20px;
      line-height: initial;
      transition: all .3s ease-in-out;
      box-shadow: 0 0 0 0 rgba($black, 0);
      letter-spacing: .05em;

      &:hover{
        box-shadow: 0 0 20px 0 rgba($black, .2);
      }
    }
  }

}

@media screen and(max-width: 768px){
  .dash{
    padding: 0 15px;

    &__wrapper{
      #newItem{
        position: relative;
        display: block;
        margin-top: 15px;
        text-align: center;
        right: 0;
      }
    }
  }
}
