.list {
  &__wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
  }

  &__item {
    display: block;
    margin-bottom: 30px;
    background: $white;
    padding: 20px;
    box-shadow: 0 0 30px 0 rgba($shadow-bg, .6);
    border-radius: 4px;

    &--col-left {
      display: inline-block;
      vertical-align: top;
      width: 30%;
    }

    &--col-right {
      display: inline-block;
      vertical-align: top;
      width: 70%;
    }

    &--date,
    &--hour,
    &--type,
    &--description {
      display: block;
      font-size: 12px;
      font-family: $font-default;
      margin-bottom: 10px;
      color: $text-color;
      line-height: 18px;

      small {
        display: block;
        margin-bottom: 10px;
        font-weight: 600;
        color: $lemon-green;
      }
    }

    &--type{
      margin-bottom: 0;
    }
  }
}
@media screen and(max-width: 768px) {
  .list {
    padding: 0 15px;
  }
}
