.modal__wrapper {
  display: none;
  position: fixed;
  z-index: 99999999;
  background: rgba($black,.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  padding: 10px;

  .modal__body {
    position: relative;
    display: block;
    vertical-align: middle;
    background: $white;
    max-width: 400px;
    height: auto;
    max-height: 100%;
    transition: all 0.3s ease-in-out;
    padding: 20px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: right;

    select {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }

    textarea {
      display: block;
      width: 100%;
      appearance: none;
      border: 1px solid #ccc;
      box-shadow: none;
      padding: 0;
      appearance: none;
      box-shadow: none;
      resize:none;
    }

    &--cancel {
      display: inline-block;
      background: $shadow-bg;
      padding: 10px;
      color: $text-color;
      cursor: pointer;
      border-radius: 4px;
      min-width: 100px;
      font-family: $font-default;
      font-size: 14px;
      text-decoration: none;
      line-height: initial;
      margin-top: 15px;
      text-align: center;
    }

    &--submit {
      display: inline-block;
      background: $blue;
      padding: 10px;
      color: $white;
      appearance: none;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      font-family: $font-default;
      font-size: 14px;
      margin-top: 15px;
      text-align: center;
    }
  }
}

.modal-is-open {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}
