body{
  background: $body-bg;
  font-family: $font-default;
}

.hide{
  display: none !important;
}


.f-left{
  float: left;
}

.f-right{
  float: right;
}


.page-center {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

@media screen and(max-width: 768px){
  .page-center {
    width: 100%;
  }
}
