$body-bg: #f5f9fa;
$gray: #e5e5e5;
$shadow-bg: #cde4ea;
$black: #000;
$white: #fff;
$lemon-green: #68ead0;
$blue: #4ca2ef;
$text-color: #333333;
$font-default: 'Open Sans', sans-serif;

//screen
$page-width-desktop: 1200px;
